@font-face {
  font-family:'Breezi Icon Set';
  src: url('../fonts/breezi_font-webfont.ttf');
  font-weight:normal;
  font-style:normal;
}


.map-icon {
  font-family: 'Breezi Icon Set';
  font-size: 16px;
  display: inline;
  padding-top: 10px;
  padding-bottom: -5px;

}


header#masthead {
margin-bottom: -30px;
}

body {
font-family: "Caliri", "Arial";
}

div.ppt {
display: none;
}

.ppt {
display: none;
}

#calendar_title {
  margin-bottom: -10px !important;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  color: #636467;
}

aside#my_calendar.widget {

  margin-bottom: 0px !important;
}

.ui-datepicker-title {

  margin-bottom: -10px;
}


.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;

    background: none;

}

.ui-datepicker-header {
    position: relative;
}
/*
.ui-datepicker-title { text-align: left; }

.ui-datepicker-month {
    position: relative;
    color: #565656;
}*/

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a;
}


/*.ui-datepicker-month:before {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

}*/

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 5px;
    height: 10px;
    text-indent: -9999px;

    background-image: url(../img/arrows.png);
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }


.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #0000;
}

.ui-datepicker-calendar td {
    padding: 0 3px;

    text-align: center;
    line-height: 41px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 41px;
    outline: none;

    text-decoration: none;
    color: #0000;

    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #81d742;
    border: 1px solid #81d742;
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }
